*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.break-hr{
    height: 5px;
    color: black;
    box-shadow: 0 0 10px 1px black;
}
.message-show-area{
    margin-top: 20px;
}
.common-message{
    width: max-content;
    color: white;
    border-radius: 7%;
}
.owner-parent{
    overflow: hidden;
}
.own-message{
    clear: right;
    float: right;
}
.common-message p{
    font-size: 20px;
    margin: 1px 10px;
}